.piscar {
    animation: piscar 110ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-timing-function: linear; */
  }

  .morto{

    animation: morto 220ms;


  }

  @keyframes piscar{

    0% {
      opacity: 0.3;;
    }
  
    100% {
      /* right: -2500px;ads */
      opacity: 1;
    }
  }

  @keyframes morto{

    0% {
      
    }
  
    100% {
      bottom: -400px
    }
  }