
.stunned{
  
  animation: virar 1000ms forwards;
  animation-iteration-count: 1;
  
}
.unstunned{
  
  animation: virar 1000ms reverse;
  animation-iteration-count: 1;
  border: 5px solid black;
}

.warning-cards{

  animation: piscar 890ms;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */

  background-color: brown;
  /* border-radius: 10px; */
  color: rgb(206, 209, 14);
}

.warning-card{

  animation: piscar2 700ms;
  animation-iteration-count: infinite;
  /* animation-direction: alternate; */

  
  
}


.piscar {
    animation: piscar 110ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation-timing-function: linear; */
  }

  .morto{

    animation: morto 220ms;


  }

  .fadeImage{
    animation: morto 220ms;
  }

  @keyframes fadeImage{

    0% {
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1),
        rgba(81, 155, 234, 0.1),
        rgb(0, 0, 1)
      ),
      url(/pics/luxFundo.gif);
    }
  
    100% {
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1),
        rgba(81, 155, 234, 0.1),
        rgb(0, 0, 1)
      ),
      url(/pics/luxUlting.gif);
    }
  }


  @keyframes piscar{

    0% {
      opacity: 0.3;;
    }
  
    100% {
      /* right: -2500px;ads */
      opacity: 1;
    }
  }

  @keyframes piscar2{

    0% {
      background-color: red;
      opacity: 0.1;
    }
    
    25% {
      /* right: -2500px;ads */
      opacity: 0.8;
      background-color: rgb(255, 174, 0);
    }

    50% {
      background-color: red;
      opacity: 0.8;
    }


    100% {
      /* right: -2500px;ads */
      opacity: 0.1;
      background-color: rgb(255, 174, 0);
    }
  }

  @keyframes morto{

    0% {
      
    }
  
    100% {
      bottom: -400px
    }
  }

  @keyframes virar{

    0% {
      
    }
  
    100% {
      transform: rotate(180deg);
    }
  }