

#smoke{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1322px;
  height: 312px;

  width: 1200px;
  height: 302px;

  background-image: url(/pics/smoke.gif);
  /* background-image: url(https://gifimgs.com/res/0323/6424402a54ec6866441751.gif); */
  background-position: cover;
  background-repeat:no-repeat;
  /* border-radius: 5px; */
  z-index: 5;
  opacity: 0;
  display: none;
  pointer-events: none;
}

.levelAre{
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 17px;
  opacity: 1;

}

#progressBar, #bgProgress{
  height: 15px;
  width:  158px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  
}

#bgProgress{
  
  background-color: rgb(47, 44, 44);
  
}


#countdown{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 110px;
  height: 90px;
  color: aliceblue;
  grid-area: boss;
  justify-self: end;
  align-self: end;
  font-size: 4em;
  background-color: #FF5733;
  border-radius: 5px;
  text-align: center;
  visibility: hidden;
}

#vitor {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        rgba(12, 3, 30, 0.5),
        rgba(0, 0, 0, 0.8)
      ),
      url(/pics/vitorFundo.gif);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: tf2;
    color: #ffffff;
    border: 4px solid rgb(255, 0, 0);
  }

  #liberdade {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(1, 32, 17, 0.7)
      ),
      url(/pics/liberdadeFundo.gif);




    /* background-image: url(/pics/liberdadeFundo.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: tf2;
    color: #cec3d5;
    border: 4px solid rgb(41, 103, 16);
  }

  #dog {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7),
        rgba(12, 3, 30, 0.4),
        rgba(255, 255, 255, 0.7)
      ),
      url(/pics/dogFundo.jpg);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: COVER;
    font-family: tf2;
    color: #06845a;
    border: 2px solid rgb(5, 56, 86);
  }
  
  #smokeCard {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9),
        rgba(81, 155, 234, 0.1),
        rgba(0, 0, 0, 0.9)
      ),
      url(/pics/csgoFundo.png);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: COVER;
    font-family: tf2;
    color: #de9b35;
    border: 2px solid #de9b35;
  }

  #awp {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.9),
        rgba(81, 155, 234, 0.1),
        rgba(0, 0, 0, 0.9)
      ),
      url(/pics/csgoFundo.png);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: COVER;
    font-family: tf2;
    color: #de9b35;
    border: 2px solid #de9b35;
  }

  #stalin{
    background-image: linear-gradient(
        180deg,
        rgba(44, 19, 1, 0.351),
        rgba(213, 149, 52, 0.554)
      ),
      url(/pics/stalinFundo.gif);




    /* background-image: url(/pics/liberdadeFundo.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: tf2;
    color: #6c0404;
    border: 4px solid red;
  }