#vitor {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8),
        rgba(12, 3, 30, 0.5),
        rgba(0, 0, 0, 0.8)
      ),
      url(/pics/vitorFundo.gif);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: tf2;
    color: #ffffff;
    border: 4px solid rgb(255, 0, 0);
  }

  #liberdade {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7),
        rgba(1, 32, 17, 0.7)
      ),
      url(/pics/liberdadeFundo.gif);




    /* background-image: url(/pics/liberdadeFundo.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: tf2;
    color: #cec3d5;
    border: 4px solid rgb(41, 103, 16);
  }

  #dog {
    background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.7),
        rgba(12, 3, 30, 0.4),
        rgba(255, 255, 255, 0.7)
      ),
      url(/pics/dogFundo.jpg);
    /* background-image: url(/pics/fundoPremioMonark.gif); */
  
    /* background: url(); */
    /* font-family: tf2; */
    height: var(--tamanhoCartaInimigoHeight);
    width: var(--tamanhoCartaInimigoWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    font-weight: 900;
    background-repeat: no-repeat;
    background-size: COVER;
    font-family: tf2;
    color: #06845a;
    border: 2px solid rgb(5, 56, 86);
  }
  