#progressBarEsp,
#bgProgressEsp {
  height: 10px;
  width: 158px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

.mana-retrato {
  /* background-color: rgb(255, 255, 255); */

  position: absolute;

  left: 80%;

  height: 25%;
  width: 20%;
  font-size: 23px;

  opacity: 0.5;
}

#bgProgressEsp {
  background-color: rgb(47, 44, 44);
}

#cabeca {
  background: linear-gradient(rgba(186, 203, 201, 0.6), rgba(0, 0, 0, 0.7)),
    /* url(pics/cabecaFundo.gif); */
      url(https://64.media.tumblr.com/53c0d5efd64b27c44816db551f0b68ce/tumblr_pnbygxWQUo1uzwgsuo1_400.gif);

  font-family: minecraft;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #044dde;
  font-weight: 900;
  color: #044dde;
  color: #b0bfed;
}

#sapato {
  background: linear-gradient(
      rgba(152, 78, 184, 0.9),
      rgba(184, 78, 173, 0.3),
      rgba(152, 78, 184, 0.9)
    ),
    /* url(pics/cabecaFundo.gif); */
      /* url(https://thumbs.gfycat.com/BossyRespectfulElkhound-max-1mb.gif); */
      /* url(https://i.gifer.com/origin/f3/f32b67d4642f47b3fa8a67287da72de1.gif); */
      /* url(https://media0.giphy.com/media/vuVOaLoHGpNSnTLptb/giphy.gif); */
      /* url(https://wallpapercave.com/uwp/uwp1468999.gif); */
      /* url(https://i.gifer.com/ROo1.gif); */
      url(https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmE1MGM3OTM3MjA2ZGI2MWE4ZjMwYWNjYmM0MTdiOGU1Nzg0NjMwYyZjdD1n/Qs3J0de5NYrle8gjER/giphy.gif);

  background-position: cover;

  font-family: minecraft;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 3px solid rgb(5, 208, 208);
  font-weight: 900;
}
#sentry {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/fundoSpy.gif);

  font-family: tf2;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #cf6a32;
  /* color: #895538; */
  border: 2px solid rgba(207, 106, 50, 1);
}

#maisAmmo {
  /* font-family: 'verdana'; */

  /* background-image: url(pics/click.webp); */
  background-color: #949219;
  background-color: #626dcd;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  /* font-size: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #ffbb00;
  border: 2px solid #0000ff;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 280px 440px;
}
