#progressBarEsp,
#bgProgressEsp {
  height: 10px;
  width: 158px;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
}

#bgProgressEsp {
  background-color: rgb(47, 44, 44);
}

#cabeca {
  background: linear-gradient(rgba(186, 203, 201, 0.6), rgba(0, 0, 0, 0.7)),
    /* url(pics/cabecaFundo.gif); */
    url(https://64.media.tumblr.com/53c0d5efd64b27c44816db551f0b68ce/tumblr_pnbygxWQUo1uzwgsuo1_400.gif);

  font-family: minecraft;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #044dde;
  font-weight: 900;
  color: #044dde;
  color: #b0bfed;
}
