:root{
    --monark: #411a12;
    --semCargo: #b0b0b6f4;
    --people: #be3737f2;
    --gentleman: #d49f09;
    --nobre: #8888f1;
    --lord: #ee17ad;
    --lideDaOposicao: #ff4400;
    --ministro: #2bd6d6;
    --speaker: #19ee11;
    --primeMinister: #050505;
    --premioMarino: #fcd703;

    --tamanhoCartaWidth: 190px;
    --tamanhoCartaHeight: 295px;
    

}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');
@font-face {
    font-family: 'blackao';
    src: url("/fonts/RedOctoberLight-3nd6.otf");
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* color: rgb(9, 1, 17); */
}
body{
    display: flex;
    flex-direction: column;
    background-color: #121212;
}

main {
    display: grid;
    grid-template-areas: 
                         "- wrap"
                         "pack inv"
                         "btn btnReset";                 
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #121212;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.26fr;
}

nav{
    background-color: rgb(136, 74, 195);
    width: 100%;
    height: 50px;
    
    grid-area: nav;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
li{
    font-size: 1.25em;
    color: rgb(213, 187, 238);;
}
.arena{
    margin: 0.1em;
    font-size: 3em;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: blackao; */
}
.placar{
    
    text-align: center;
    font-size: 2em;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrap{
    
    
    
   
    
    grid-area: wrap;

}
/* ************************* */
/* CARTAS VARIACOES */
/* ************************* */



#carta{
    display: none;
    /* background-color: #ffffff; */
    height: 70%;
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    /* border: 1px solid #020101; */
}
#carta-premiomarino{
    background-image: url(pics/wrapPremioMarino.webp);
    /* background-color: var(--premioMarino); */
    /* background: radial-gradient(circle, rgba(252,213,3,1) 40%, rgba(200,232,57,1) 87%); */
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    font-weight: 900;
    color: rgb(0, 0, 0);
    /* background-size: contain; */
    
    
}

#carta-primeminister{
    background-color: var(--primeMinister);
    background: linear-gradient(180deg, rgba(0,0,0,1) 74%, rgba(80,78,78,1) 100%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: wheat;
    border: 2px solid #020101;
}

#carta-ministro{
    background-color: var(--ministro);
    background: linear-gradient(180deg, rgba(43,214,214,1) 18%, rgba(43,145,214,1) 61%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #020101;
    border: 2px solid #020101;
    
}

#carta-lord{
    background-color: var(--lord);
    background: linear-gradient(0deg, rgba(110,6,120,1) 0%, rgba(238,23,173,1) 46%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #090909;
    border: 2px solid #020101;
}

#carta-nobre{
    background-color: var(--nobre);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
}

#carta-gentleman{
    background-color: var(--gentleman);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
}

#carta-people{
    background-color: var(--people);
    height: var(--tamanhoCartaHeight);
    /* height: 550px; */
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    font-size: 1em;
}
#carta-semcargo{
    background-color: var(--semCargo);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    color: black;
}


#carta-monark{
    background-color: var(--monark);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #b0b0b6;
    border: 2px solid #020101;
}
#carta-speaker{
    background-image: url(pics/cartaspeaker.webp);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #18d742;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
#especial-tenica{

    /* font-family: 'verdana'; */

    background-image: url(pics/fundoTenica.gif);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #dde630;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
#especial-click{

    /* font-family: 'verdana'; */

    /* background-image: url(pics/click.webp); */
    background-color: #ddddeb;
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #dde630;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: 280px 440px;
    
}
#abelha{
    background:  linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url(pics/fundoAbelha.gif);

      /* background: url(pics/fundoAbelha.gif); */
    
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #4e2c00;
    font-weight: 900;
    /* color: rgb(181, 12, 175); */
    background-repeat: no-repeat;
    background-size: cover;
}
#comunista{
    background:  linear-gradient(
        rgba(125, 105, 4, 0.6), 
        rgba(187, 151, 5, 0.6)
      ),url(https://media.tenor.com/rH_kpMNuotUAAAAC/communism-communist.gif);

      /* background: url(); */
    
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #4e2c00;
    font-weight: 900;
    /* color: rgb(181, 12, 175); */
    background-repeat: no-repeat;
    background-size: COVER;
    font-family: blackao;
}



/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* RETRATO */
/* ***************************************************** */
/* **************************************************** */


.nome{
    margin-top: 0.2em;
    /* margin-bottom: 0.1em; */
    font-size: 1.5em;
    /* background-color: #6c4d4d; */
    
}
.cidade{
    /* background-color: #6637be; */
    text-align: end;
    font-size: 0.95em;
    
}

.retrato{
    display: none;
    width: 75%;
    height: 45%;
    background-color: #4b4747;
    border-radius: 5px;

    background-size: 210px 124px;
    background-repeat: no-repeat;
    background-size: cover;

    border: #020101 2px solid;
}

.cargo{
    /* background-color: #37be49; */
    font-size: 1.5em;
    transform: rotate(-10deg);
    margin: 10px;
}
.poder{
    width: 80%;
    font-size: 0.98em;
    /* background-color: #beac37; */
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}


.seed{
    /* background-color: #7e7a7a; */
    width: 100%;
    position: absolute;
    left: 47%;
    bottom: 54%;
    transform: rotate(90deg);
    font-size: 0.65em;
    opacity: 0.6;
}

#btn{
    padding: 5px;
    

    align-self: flex-start;
    grid-area: btn;
}
#getseed{
    margin-top: 50px;
    grid-area: btn;
}
#btnReset{
    grid-area: btnReset;
    padding: 5px;
    align-self: flex-start;
    background-color: red;
    border: none;
    border-radius: 5px;
}


/* ---------------------------------------*/
/* VARIANTES */
/* ---------------------------------------*/
.action {
    /* display: none; */
    visibility:hidden;
}
.variante {
    text-align: center;
}

p{
    font-size: 1em;
    text-align: center;
}

#pack{
    grid-area: pack;
}

#inv{
    
    height: 320px;
    width: 800px;
    background-color: #2a2929;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    overflow: hidden;
    grid-area: inv;

    
    
    text-align: center;
    border-radius: 10px;
  
}



.critico{
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/* @media only screen and (max-width: 480px){
    
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    
    nav{
        display: none;
        
    }
    .btn{
        display: none;
        width: 100%;
        background-image: none;
        background-color: #121212;
    }
    
    
    #inv{
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        gap: 0px;
        overflow: visible;

    }
} */


