:root {
  --monark: #411a12;
  --semCargo: #b0b0b6f4;
  --people: #be3737f2;
  --gentleman: #d49f09;
  --nobre: #8888f1;
  --lord: #ee17ad;
  --lideDaOposicao: #ff4400;
  --ministro: #2bd6d6;
  --speaker: #19ee11;
  --primeMinister: #050505;
  --premioMarino: #fcd703;

  --tamanhoCartaWidth: 190px;
  --tamanhoCartaHeight: 295px;

  --heigthCartaBoss: 370px;
  --widthCartaBoss: 240px;
  /* CELULAR */

  --cartaWidthCelular: 110px;
  --cartaHeigthCelular: 185px;
  --cargoCelularFontSize: 9px;
}

a,  a:hover, a:visited, a:active {
  text-decoration: none;
  color: rgb(5, 121, 55);

}
a:hover{
  color: rgb(20, 240, 115);
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap");
@font-face {
  font-family: "blackao";
  src: url("/fonts/RedOctoberLight-3nd6.otf");
}
@font-face {
  font-family: "premiomonark";
  src: url("/fonts/NightsideDemoRegular.ttf");
}
@font-face {
  font-family: "tf2";
  src: url("/fonts/tf2.ttf");
}
@font-face {
  font-family: "estoico";
  src: url("/fonts/estoico.ttf");
}
@font-face {
  font-family: "minecraft";
  src: url("/fonts/Minecraft.ttf");
}
@font-face {
  font-family: "overwatch";
  src: url("/fonts/overwatch.ttf");
}
@font-face {
  font-family: "lol";
  src: url("/fonts/lol.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  /* color: rgb(9, 1, 17); */
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  overflow-y: hidden;
  user-select: none;
}

#protector{
/* display: none; */
height: 100%;
width: 100%;

background-color: #15b871;

}

section {
  display: none;
}
main {
  height: 100%;
  display: grid;
  grid-template-areas:
    "hb hb hb"
    "c boss d"
    "b inv texto "
    "cartas  dicas dinheiro"
    "baralho mao especial";
  align-items: center;
  justify-items: center;
  flex-direction: column;

  background-color: #083535;
  background: linear-gradient(360deg, rgba(28, 7, 102, 0.649) 0%, rgba(39, 13, 65, 0.649) 46%);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.3fr  1.3fr 1.1fr 0.1fr 1.1fr;

  background-image:
  linear-gradient(360deg, rgba(28, 7, 102, 1) 10%, 
  rgba(56, 44, 68, 0.2) 70%),
   url(https://cutewallpaper.org/21/1920-x-1080-gif/Wahoo-GIF-Find-Share-on-GIPHY.gif);
   background-size: cover;

  display: none;
}

a{
  /* background-color: black; */
  font-size: 100px;
  margin-left: 120px;
}
a:last-of-type:hover, a:last-of-type{
  color: rgba(15, 12, 182, 0.147);

}

nav {
  background-color: rgb(136, 74, 195);
  width: 100%;
  height: 20px;

  grid-area: nav;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
li {
  font-size: 1.25em;
  color: rgb(213, 187, 238);
}

#bossRoom{
  grid-area: boss;
  width: 900px;
  height: 400px;
  background-color: rgb(85, 71, 71);
  border: 10px rgb(38, 40, 42) solid ;
  background-image:linear-gradient(
    180deg,
    rgba(24, 23, 23, 0.2),
    rgba(46, 44, 49, 0.7)
  ), url(pics/bossBg.png);

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

#cartaBossMonark{
  background-color: #3D2B1F;
  height: 370px;
  width: 240px;
  border-radius: 20px;
  border: 5px solid red;

  background-image: url(pics/monark/1.PNG);
  background-size: cover;
  position: absolute;
}

.bossHealthWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-area: hb;
  opacity: 0;
  
}
#healthPoints, .healthPoints{
  color: red;
  font-size: 26px;
}

#healthPointsWrap{
width: 50%;
/* background-color: white; */
display: flex;
justify-content: center;
}

#hb{
    
    
    background: #3b3737;
    height: 30px;
    width: 1000px;
    width: 800px;
    align-self: center;
    justify-self: center;
}

#progress{
  background: #9d0909;
  height: 100%;
  width: 100%;
}

#dicas{
  grid-area: dicas;
  color: wheat;
}

#sound{
  grid-area: texto;
  height: 50px;
  width: 50px;
  align-self: end;
  justify-self: end;
  margin: 10px;
  
}
#speaker{
  height: 50px;
  width: auto;
}

.dano{
  background-image: url(pics/dano.png);
}

#descr {
  grid-area: c;
  height: 60px;
  font-size: 0.6em;
  align-self: center;
  text-align: center;
  color: wheat;
}
#wrapAndInv {
  display: flex;
  grid-area: inv;
  
  flex-direction: column-reverse;
  justify-self: center;
  align-items: center;
}

/* #efeitoContainer {

  
  
  background-color: #353436;
  color: #e70000;
  
  
  border-radius: 5px;
  border: 2px rgb(34, 34, 34) double;

  display: flex;
  flex-direction: column-reverse;
  
  align-items: center;
  transform: rotate(90deg);

  
} */

#efeitoContainer > * {
  height: 65px;
  width: 65px;
  background-color: #1d1d1e;
  border: 2px solid #242424;
  background-size: 100% 100%;
  display: flex;
  align-items: flex-end;
  /* margin: 10px; */
  transform: rotate(-90deg);
  
}
#efeito1 {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  font-weight: bold;
  color: red;


  height: 65px;
  width: 65px;
  background-color: #1d1d1e;
  border: 2px solid #242424;
  background-size: 100% 100%;
  display: flex;
  align-items: flex-end;
  /* margin: 10px; */
  /* transform: rotate(-90deg); */

}

#mao0, #mao1, #mao2, #mao3, #mao4 , #mao5   {
  /* display: none; */
  /* background-image: url(pics/wrapPremioMarino.webp); */
  /* background-color: var(--premioMarino); */
  /* background: radial-gradient(circle, rgba(252,213,3,1) 40%, rgba(200,232,57,1) 87%); */
  /* height: var(--tamanhoCartaHeight); */
  /* width: var(--tamanhoCartaWidth); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  /* border: 2px solid rgb(0, 0, 0, 0.4); */
  font-weight: 900;
  color: rgb(0, 0, 0, 0.4);


  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #090909;
  

}

.arena {
  
  margin: 0.1em;
  font-size: 1.5em;
  color: wheat;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-family: blackao; */
  grid-area: cartas;
  align-self: center;
  
}

#store{
  grid-area: especial;
  width: 195px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  

  justify-self: end;
}
#moneyWrap{
  display: flex;
  font-size: 30px;
}


#vendas, .vendas{ 
  color: wheat;
  font-size: 25px;
}

.placar, #money {
  text-align: center;
  font-size: 3em;
  color: wheat;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.placar{
  display: none;
}

#money {
  
  font-size: 1.5em;
  
}

#pontoQuest {
  text-align: center;
  font-size: 1.4em;
  color: rgba(255, 157, 72, 0.622);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* HP DO BOSS */
.wrap {
  grid-area: b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ************************* */
/* CARTAS VARIACOES */
/* ************************* */

#carta {
  display: none;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  
}





#slotEsp {
  grid-area: especial;
  border: 7px double rgba(170, 183, 30, 0.129);
  background-color: #1f350853;
  align-self: center;
}
#slotEsp > div {
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  /* border-radius: 15px; */
}

#carta-premiomarino {
  background-image: url(pics/wrapPremioMarino.webp);
  /* background-color: var(--premioMarino); */
  /* background: radial-gradient(circle, rgba(252,213,3,1) 40%, rgba(200,232,57,1) 87%); */
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #9511a7;
  font-weight: 900;
  color: rgb(0, 0, 0);
  /* background-size: contain; */
}

#carta-primeminister {
  background-color: var(--primeMinister);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 100%,
    rgba(80, 78, 78, 1) 74%
  );
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  color: wheat;
  border: 2px solid #020101;
}

#carta-ministro {
  background-color: var(--ministro);
  background: linear-gradient(
    180deg,
    rgba(43, 214, 214, 1) 18%,
    rgba(43, 145, 214, 1) 61%
  );
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  color: #020101;
  border: 2px solid #020101;
}

#carta-lord {
  background-color: var(--lord);
  background: linear-gradient(
    0deg,
    rgba(110, 6, 120, 1) 0%,
    rgba(238, 23, 173, 1) 46%
  );
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  color: #090909;
  border: 2px solid #020101;
}

#carta-nobre {
  background-color: var(--nobre);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #020101;
}

#carta-gentleman {
  background-color: var(--gentleman);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 1px solid #020101;
}

#carta-people {
  background-color: var(--people);
  height: var(--tamanhoCartaHeight);
  /* height: 550px; */
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 1px solid #020101;
  font-size: 1em;
}
#carta-semcargo {
  background-color: var(--semCargo);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 1px solid #020101;
  color: black;
}

#carta-monark {
  background-color: var(--monark);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  color: #b0b0b6;
}
#carta-speaker {
  background-image: url(pics/cartaspeaker.webp);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #18d742;
  font-weight: 900;
  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#especial-tenica {
  /* font-family: 'verdana'; */

  background-image: url(pics/fundoTenica.gif);
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #dde630;
  font-weight: 900;
  font-size: 126%;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
#especial-click {
  /* font-family: 'verdana'; */

  /* background-image: url(pics/click.webp); */
  background-color: #7878de;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  /* font-size: 2em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #2d2ddd;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 280px 440px;
}

#-click {
  /* font-family: 'verdana'; */

  /* background-image: url(pics/click.webp); */
  background-color: #de7f78;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  font-size: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid #dd4b41;
  font-weight: 900;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 280px 440px;
  transform: rotate(3.142rad);
}
#abelha {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(pics/fundoAbelha.gif);

  font-family: minecraft;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 3px solid #545251;
  font-weight: 900;
  color: #ffec1a;
}
#comunista {
  background: linear-gradient(rgba(125, 105, 4, 0.6), rgba(187, 151, 5, 0.6)),
    url(pics/camaradaFundo.gif);

  /* background: url(); */

  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  border: 2px solid red;
  font-weight: 900;
  /* color: rgb(181, 12, 175); */
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: blackao;
  color: #990000;
}

#premiomonark {
  /* background:  url(/pics/fundoPremioMonark.gif); */

  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(12, 3, 30, 0.6)
    ),
    url("/pics/fundoPremioMonark.gif");

  /* background: url(); */
  font-size: 120%;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  /* border: 2px solid #150f07; */
  font-weight: 900;
  /* color: rgb(181, 12, 175); */
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: premiomonark;
  border: 4px solid black;
}

#estoico {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/fundoEstoico.gif);

  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 55px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: estoico;
  color: #cde2e0;
  border: 5px solid #cde2e0;
}
#spy {
  /* background:  url(/pics/fundoPremioMonark.gif); */

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/fundoSpy.gif);
  /* background-image: url(/pics/fundoPremioMonark.gif); */

  /* background: url(); */
  font-family: estoico;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #cf6a32;
  border: 2px solid rgba(207, 106, 50, 1);
}


#tank, #tf2Money {
  /* background:  url(/pics/fundoPremioMonark.gif); */

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/fundoSpy.gif);
  /* background-image: url(/pics/fundoPremioMonark.gif); */

  /* background: url(); */
  font-family: estoico;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #cf6a32;
  border: 2px solid rgba(207, 106, 50, 1);
}


#lucio {
  /* background:  url(/pics/fundoPremioMonark.gif); */

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/lucioFundo.webp);
  /* background-image: url(/pics/fundoPremioMonark.gif); */

  /* background: url(); */
  font-family: overwatch;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #15b871;
  border: 2px solid #15b871;
}

#dva {
  /* background:  url(/pics/fundoPremioMonark.gif); */

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8),
      rgba(12, 3, 30, 0.8)
    ),
    url(/pics/lucioFundo.webp);
  /* background-image: url(/pics/fundoPremioMonark.gif); */

  /* background: url(); */
  font-family: overwatch;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #ee4bb5;
  border: 2px solid #ee4bb5;
}


#jhin {
 

  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.481),
      rgb(14, 2, 40)
    ),
    url(/pics/fundoJhin.gif);
  
  font-family: overwatch;
  height: var(--tamanhoCartaHeight);
  width: var(--tamanhoCartaWidth);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  position: relative;
  font-weight: 900;
  background-repeat: no-repeat;
  background-size: COVER;
  font-family: tf2;
  color: #FFBC42;
  border: 2px solid #FFBC42;
}

/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* RETRATO */
/* ***************************************************** */
/* **************************************************** */

#selo {
  /* background-color: #010101; */
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
  opacity: 0.5;
  /* transform: rotate(90deg); */
}

.nome,
.nomeEsp {
  margin-top: 0.2em;
  /* margin-bottom: 0.1em; */
  font-size: 150%;
  /* background-color: #6c4d4d; */
  /* color: red; */
}



.nome1, .nome2 , .nome3 , .nome4   {
  color: #2f2f2f;
  /* background-color: white; */
  position: relative;
  bottom: -25px;
}

.cidade {

  /* background-color: #6637be; */
  text-align: end;
  font-size: 0.95em;
}

.retrato,
.retratoEsp {
  display: none;
  width: 75%;
  height: 45%;
  background-color: #4b4747;
  border-radius: 5px;

  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;

  border: #020101 2px solid;
}
.retratoEsp {
  display: inherit;
  visibility: hidden;
}

.cargo {
  /* background-color: #37be49; */
  font-size: 1em;
  transform: rotate(-10deg);
  margin: 10px;
}
.poder,
.poderEsp {
  height: 10%;
  width: 85%;
  font-size: 0.98em;

  display: flex;

  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.ataqueEsp {
  white-space: nowrap;
}

.seed, .seedEsp {
  /* background-color: #7e7a7a; */
  width: 100%;
  position: absolute;
  left: 47%;
  bottom: 54%;
  transform: rotate(90deg);
  font-size: 0.65em;
  opacity: 0.6;
}

#btnContainer{
  /* display: none; */
  width: 200px;
  grid-area: b;
  display: flex;
  flex-direction: column;
}

#btn {
  padding: 5px;
  background-color: #11446d;
  border-radius: 5px;
  height: 50px;
  border: 1px black solid;
  display: none;
}
#getseed {
  
  
  display: none;
  grid-area: b;
  align-self: end;
}
#btnReset {
  display: none;
  grid-area: b;
  padding: 5px;
  align-self: flex-start;
  background-color: red;
  border: none;
  border-radius: 5px;
}

.especial {
  visibility: hidden;
}
/* ---------------------------------------*/
/* VARIANTES */
/* ---------------------------------------*/
.action,
.actionEsp {
  /* display: none; */
  visibility: hidden;
}
.variante {
  text-align: center;
}

p {
  /* font-size: 1em; */
  text-align: center;
}

#pack {
  grid-area: baralho;
  border: 5px double rgba(80, 80, 98, 0.578);
  background-color: #060e3c5e;
  align-self: center;
}

#inv {
  /* grid-area: inv; */
  height: 320px;
  width: 860px;
  background-color: #242427fe;

  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  overflow: hidden;

  text-align: center;
  border-radius: 10px;
  
  
  
  
}
#empty1,
#empty2,
#empty3,
#empty4 {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: #090909;
  display: block;
}
#action1,
#action2,
#action3,
#action4 {
  visibility: hidden;
}
#mao {
  grid-area: mao;
  border: 6px double rgba(30, 178, 183, 0.38);
  background-color: #2f444465;
  align-self: center;

  
  height: 320px;
  width: 1200px;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  justify-items: center;
  align-items: center;

}

#G,
#btnEsp {
  grid-area: btn;
  width: 80%;
  height: 13%;
  align-self: center;
  padding: 5px;
  background-color: #42116d;
  border-radius: 5px;
  height: 60px;
  border: 1px black solid;
  font-weight: bold;
  /* margin-bottom: 10%; */
  display: none;
}

#btnEspecial {
  /* height: 70%; */
  grid-area: especial;
  display: flex;
  flex-direction: column-reverse;
  justify-self: start;
  justify-content: space-around;
  align-content: space-around;
  /* background-color: #010101; */
}

#btnCampones,
#btnCavalheiro,
#btnSangue,
#btnRainha {
  grid-area: btnReset;
  align-self: end;
  width: 90%;
  height: 50px;
}

.voar {
  animation: voar 1s;
  animation-iteration-count: 1;
}
.monark {
  animation: monark 0.25s;
  animation-iteration-count: 1;
}

.float {
  animation: float 10s;
  animation-iteration-count: infinite;
}

#logo{
  animation: logo 20s;
  animation-iteration-count: infinite;
}

.critico {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.vanish {
  animation: vanish 11s;
  animation-iteration-count: 1;
}

.invis {
  animation: vanish 2s;
  animation-iteration-count: 1;
  opacity: 0.1;
}

.aparecer{
  animation: aparecer 4s;
  animation-iteration-count: 1;
  opacity: 1;
  

}

.bossAnimation{
  animation: boss 2s ;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* animation-timing-function: linear; */
}

@keyframes boss{
  from {
    border: 5px solid red;
    width: var(--widthCartaBoss);
    height: var(--heigthCartaBoss);
    bottom: 0px;
    background-size: cover;
    
    
  }
  to {
    border: 10px solid rgb(132, 4, 155);
    width: 180px;
    height: 250px;
    bottom: 20px;
    background-size: cover;
    
   
  }
}


@keyframes voar {
  0% {
    bottom: 0px;
  }

  100% {
    /* right: -2500px;ads */
    bottom: -2000px;
  }
}

@keyframes monark {
  0% {
    top: -500px;
  }

  60% {
    /* right: -2500px;ads */
    top: 100px;
  }

  100% {
    /* right: -2500px;ads */
    top: 0px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes float {
  0% {
    transform: translatey(0px) rotate(0deg);
    color: #77777b;
    text-shadow: 0px 2px 3px #77777b;
  }

  25% {
    transform: translatey(4px) rotate(0deg);
    color: #0a0a0b;
    text-shadow: 0px 2px 3px #0a0a0b;
  }

  50% {
    transform: translatey(0px) rotate(0deg);
    color: #5a5a63;
    text-shadow: 0px 2px 3px #5a5a63;
  }
  75% {
    transform: translatey(4px) rotate(0deg);
    color: #0f0f11;
    text-shadow: 0px 2px 3px #0f0f11;
  }
  100% {
    transform: translatey(0px) rotate(0deg);
    color: #77777b;
    text-shadow: 0px 2px 3px #77777b;
  }
}



@keyframes logo {
  0% {
    transform: translatey(0px) rotate(0deg);
    
  }

  25% {
    transform: translatey(20px) rotate(1deg);
    
  }

  50% {
    transform: translatey(0px) rotate(0deg);
    
  }
  75% {
    transform: translatey(-20px) rotate(-1deg);
    
  }
  100% {
    transform: translatey(0px) rotate(0deg);
    
  }
}


@keyframes vanish {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.1;
  }
}


@keyframes aparecer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@media only screen and (max-width: 1400px) {
/* COMECO DO 1400************************************ */
  main {
    height: 100%;
    display: grid;
    grid-template-areas:
      
      "pack mao inv"
      "btn  btn2 btnReset";
    align-items: center;
    justify-items: center;
    flex-direction: column;
  
    background-color: #083535;
    background: linear-gradient(360deg, rgba(28, 7, 102, 0.649) 0%, rgba(39, 13, 65, 0.649) 46%);
    grid-template-columns: 0.3fr 0.2fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr;
  }

  #descr,.wrap {
    grid-area: btnReset;
  }
  .wrap {
    align-self: center;
  }
  #descr {
    align-self: end;
    font-size: 0.4em;
  }


/* FIM DO 1400************************************ */
}



@media only screen and (max-width: 900px) {
  body {
    height: 200vh;
    overflow-y: scroll;
  }

  nav {
    display: display;
    background-color: rgb(136, 74, 195);
    width: 800px;
    height: 5px;

    grid-area: nav;
  }

  main {
    width: 800px;
    /* width: 100vh; */
    height: 200vh;
    /* height: 100vh; */
    display: grid;
    gap: 0.7%;

    grid-template-areas:
      "pack mao inv"
      "text mao2 btn"
      "esp1 esp2 esp3";
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 0.75fr 0.2fr 1fr;
  }

  #slotEsp {
    grid-area: esp2;
  }
  #slotEsp > div {
    height: var(--cartaHeigthCelular);
    width: var(--cartaWidthCelular);
    border-radius: 8px;
  }

  #mao {
    align-self: start;
    justify-self: center;
  }
  #mao > div {
    height: var(--cartaHeigthCelular);
    width: var(--cartaWidthCelular);
    border-radius: 8px;
    /* border: 2px solid rgb(0, 0, 0, 0.3); */
  }
  #cartaMao {
    height: var(--cartaHeigthCelular);
    width: var(--cartaWidthCelular);
    /* border: 2px solid rgb(0, 0, 0, 0.3); */
    color: rgb(0, 0, 0, 0.3);
    align-self: center;
  }

  #texto {
    font-size: 50%;
    grid-area: text;
    align-self: start;
  }
  #descr {
    grid-area: text;
    height: 60px;
    font-size: 6px;
    align-self: center;
    text-align: center;
    color: wheat;
  }
  #versao {
    font-style: italic;
  }

  .wrap {
    height: 60px;
    font-size: 8px;
    grid-area: mao2;
    text-align: center;
  }
  #btn {
    padding: 0;
    /* grid-area: pack; */
    /* margin-bottom: 5%; */
    height: 30px;
    align-self: center;
    justify-self: end;
    width: 150px;
  }
  #getseed {
    grid-area: btn;
    justify-self: start;
    align-self: end;
    margin: 0;
  }
  #btnReset {
    margin: 0;
    grid-area: btn;
    justify-self: center;
    align-self: end;
  }

  #pack {
    height: var(--cartaHeigthCelular);
    width: var(--cartaWidthCelular);
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: start;
    grid-area: pack;
  }

  #pack > div {
    /* height: var(--cartaHeigthCelular); */
    height: 100%;
    /* width: var(--cartaWidthCelular); */
    width: 100%;
    border-radius: 8px;
  }

  .nameAndCidadeWrapper {
    /* display: none; */
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nome {
    font-size: 100% !important;
    font-weight: 500;
  }

  .variante {
    width: 100%;

    text-align: center;
    font-size: 55% !important;
    font-weight: bold;
    font-family: "Righteous";
    text-shadow: -2px 5px 5px #010101;
  }

  .cidade {
    /* background-color: #6637be; */
    justify-self: center;
    font-size: 10px;
    text-align: center;
  }

  .retrato {
    display: block;
    width: 78%;
    height: 40%;

    background-color: #4b4747;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-size: 100% 100%;

    border: #020101 2px solid;
  }
  .seed {
    font-size: 8px;
  }

  .cargo {
    /* display: none; */
    height: 8%;
    font-size: 11px !important;
    transform: rotate(-10deg);
    margin-top: 10%;
    align-self: center;
  }

  .poder {
    margin: 0;
  }
  .action {
    font-size: 5px;
  }

  .ataque {
    font-size: 9px !important;
    width: 25px;
  }
  .novoAtaque {
    font-size: 11px !important;
  }

  #wrapAndInv {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column-reverse;
    grid-area: inv;
    
  }

  #efeitoContainer {
    height: 30px;
    width: 150px;
    grid-area: inv;
    background-color: #353436;
    color: #e70000;
    
    
    border-radius: 2px;
    border-style: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* justify-self: center; */
    
    
  }

  #efeitoContainer > * {
    height: 24px;
    width: 30px;
    background-color: #1d1d1e;
    border: 1px solid #242424;
    /* margin: 10px; */
  }

  #inv {
    /* padding: 10%; */
    /* margin-top: 2%; */
    height: 220px;
    width: 530px;
    align-items: start;
    align-self: start;
  }

  #inv > div {
    height: var(--cartaHeigthCelular);
    width: var(--cartaWidthCelular);
    border-radius: 8px;
    align-self: center;
  }
  #inv > [id^="empty"] {
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }

  #estoico {
    border-radius: 50px !important;
  }
  #btnContainer{
    flex-direction: column-reverse;
    width: 150px;
    justify-self: end;
    align-self: end;
    grid-area: btn;
    
    
  }
  #btnEspecial{
    grid-area: esp3;
    align-self: start;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-around;
    width: 500px;
  }

  #G,
  #btnEsp {
    border: none;
    border-radius: 4px;
    display: block;
    grid-area: pack;
    width: var(--cartaWidthCelular);
    height: 40px;
    align-self: end;
    margin-bottom: 7px;
    background-color: #599ac6;
    font-size: 10px;
  }
  #btnEsp {
    grid-area: esp2;
  }

  @media (orientation: portrait) {
    main {
      display: none;
    }
    section {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-self: center;
      margin-top: 50px;
      font-size: 40px;
      text-align: center;
      color: #19ee11;
    }
  }
}
