:root{
    --monark: #411a12;
    --semCargo: #b0b0b6f4;
    --people: #be3737f2;
    --gentleman: #d49f09;
    --nobre: #8888f1;
    --lord: #ee17ad;
    --lideDaOposicao: #ff4400;
    --ministro: #2bd6d6;
    --speaker: #19ee11;
    --primeMinister: #050505;
    --premioMarino: #fcd703;

    --tamanhoCartaPackWidth: 69%;
    --tamanhoCartaPackHeight: 99%;

    --tamanhoCartaWidth: 100%;
    --tamanhoCartaHeight: 100%;
    

}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap');


* {
    
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* color: rgb(9, 1, 17); */
}
html, body{
    width: auto;
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    background-color: #121212;
    align-items: stretch; */
}
body{
    min-height: 100vh;
}

main {
    width: auto;
    height: 100vh;
    display: grid;
    grid-template-areas: 
                         "record wrap"
                         "pack inv"
                         "btn btnReset";                 
    align-items: center;
    justify-items: center;
    flex-direction: column;
    background-color: #121212;
    background: linear-gradient(360deg, rgb(20, 1, 26) 18%, rgb(12, 12, 12) 61%);
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.8fr 3fr 1fr;
}

/* nav{
    background-color: rgb(136, 74, 195);
    width: 100%;
    height: 50px;
    
    grid-area: nav;
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
li{
    font-size: 1.25em;
    color: rgb(213, 187, 238);;
} */



#record, #descr{
    font-size: 1em; 
    text-align: center;
    color: white; 
    /* grid-area: 'record'; */
}


.arena{
    margin: 0.1em;
    font-size: 3em;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.placar{
    text-align: center;
    font-size: 2em;
    color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrap{
    
    
    height: 100px;
    grid-area: wrap;

}
/* ************************* */
/* CARTAS VARIACOES */
/* ************************* */

#carta{
/* DENTRO DA CARTA vvvv */
background-color: var(--ministro);
background: linear-gradient(180deg, rgba(43,214,214,1) 18%, rgba(43,145,214,1) 61%);
height: var(--tamanhoCartaHeight);
width: var(--tamanhoCartaWidth);
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border-radius: 1.5%;
position: relative;
color: #020101;
border: 2px solid #020101;
}



 #empty1, #empty2, #empty3, #empty4{
    /* display: none;
    /* background-color: #040404; */
    /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
    /* height: 70%;
    width: 57%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border: 1px solid #020101;  */
    
    border-radius: 11px;



    /* DENTRO DA CARTA vvvv */
    background-color: 'gray';
    background: linear-gradient(180deg, rgb(35, 36, 36) 18%, rgbrgb(110, 112, 114));
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* border-radius: 1.4%; */
    position: relative;
    color: #020101;
    border: 1px solid #020101;
}
#premiomarino{
    background-image: url(pics/wrapPremioMarino.webp);
    /* background-color: var(--premioMarino); */
    /* background: radial-gradient(circle, rgba(252,213,3,1) 40%, rgba(200,232,57,1) 87%); */
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    font-weight: 900;
    color: rgb(0, 0, 0);
    /* background-size: contain; */
    
    
}

#primeminister{
    background-color: var(--primeMinister);
    background: linear-gradient(180deg, rgba(0,0,0,1) 74%, rgba(80,78,78,1) 100%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: wheat;
    border: 2px solid #020101;
}

#ministro{
    background-color: var(--ministro);
    background: linear-gradient(180deg, rgba(43,214,214,1) 18%, rgba(43,145,214,1) 61%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #020101;
    border: 2px solid #020101;
    
}

#lord{
    background-color: var(--lord);
    background: linear-gradient(0deg, rgba(110,6,120,1) 0%, rgba(238,23,173,1) 46%);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #090909;
    border: 2px solid #020101;
}

#nobre{
    background-color: var(--nobre);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
}

#gentleman{
    background-color: var(--gentleman);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
}

#people{
    background-color: var(--people);
    height: var(--tamanhoCartaHeight);
    /* height: 550px; */
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    font-size: 1em;
}
#semcargo{
    background-color: var(--semCargo);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #020101;
    color: black;
}


#monark{
    background-color: var(--monark);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    color: #b0b0b6;
    border: 2px solid #020101;
}
#speaker{
    background-image: url(pics/cartaspeaker.webp);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #18d742;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#tenica{

    font-family: "Cormorant Upright";

    background-image: url(pics/fundoTenica.gif);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #dde630;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}

#abelha{
    background-image: url(pics/fundoAbelha.gif);
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #4e2c00;
    font-weight: 900;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
}
#bonusCartasMais{

    font-family: 'verdana';

    /* background-image: url(pics/click.webp); */
    background-color: #6d6dc3;
    height: var(--tamanhoCartaHeight);
    width: var(--tamanhoCartaWidth);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    border: 2px solid #30cbe6;
    font-weight: 900;
    color: rgb(19, 34, 134);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.nameAndCidadeWrapper,.nameAndCidadeWrapper1,.nameAndCidadeWrapper2,.nameAndCidadeWrapper3,.nameAndCidadeWrapper4{
    /* display: none; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* **************************************************** */
/* **************************************************** */
/* **************************************************** */
/* RETRATO */
/* ***************************************************** */
/* **************************************************** */


#nome, #nome1,#nome2,#nome3,#nome4 {
    /* height: 100%; */
    /* margin-top: 0.2%; */
    /* margin-bottom: 0.2%; */
    font-size: 150%;
    font-weight: 500;
    /* background-color: #6c4d4d; */
    
}
#cidade{
    /* background-color: #6637be; */
    /* align-self: flex-end; */
    font-size: 100%;
    
}
#cidade1,#cidade2,#cidade3,#cidade4{
    /* background-color: #6637be; */
    /* align-self: flex-end; */
    font-size: 80%;
    
}





#retrato,#retrato1,#retrato2,#retrato3,#retrato4{
    display: block;
     width: 75%;
     height: 40%; 

    /* width: 70px;
    height: 45px; */

    background-color: #4b474b;
    /* background-color: #080074; */
    border-radius: 5px;
    /* background-size: 210px 124px; */
    background-repeat: no-repeat;
    background-size: 100% 100%;

    border: #020101 2px solid;
}
#retrato1,#retrato2,#retrato3,#retrato4{
    border: #161515 1px solid;
}

#cargo,#cargo1,#cargo2,#cargo3,#cargo4{
    /* background-color: #37be49; */
    height: 26%;
    font-size: 1.5em;
    transform: rotate(-10deg);
    margin: 10px;
}
#poder,#poder1,#poder2,#poder3,#poder4{
    height: 9%;
    width: 80%;
    font-size: 0.98em;
    /* background-color: #beac37; */
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}


#seed, #seed1, #seed2, #seed3, #seed4{
    /* background-color: #7e7a7a; */
    width: 100%;
    position: absolute;
    left: 47%;
    bottom: 54%;
    transform: rotate(90deg);
    font-size: 0.65em;
    opacity: 0.6;
}

#btn{
    padding: 5px;
    

    align-self: flex-start;
    grid-area: btn;
}
#getseed{
    margin-top: 50px;
    grid-area: btn;
}
#btnReset{
    grid-area: btnReset;
    padding: 5px;
    align-self: flex-start;
    background-color: red;
    border: none;
    border-radius: 5px;
}
#Q{
    display: none;
    
}

/* ---------------------------------------*/
/* VARIANTES */
/* ---------------------------------------*/
#action, #action1, #action2, #action3, #action4 {
    visibility:hidden;
    /* height: 100%; */
    /* width: 10%; */
}
#variante {

    width: 100%;

    text-align: center;
    font-size: 100%;
    font-weight: bold;
    font-family: 'Righteous';
    text-shadow: -2px 5px 5px #010101;
    
}

#variante1,#variante2,#variante3,#variante4 {

    width: 100%;

    text-align: center;
    font-size: 70%;
    font-weight: bold;
    font-family: 'Righteous';
    text-shadow: -2px 5px 5px #010101;
    
}
p{
    font-size: 1em;
    text-align: center;
}

#pack{

    display: flex;
    justify-content: center;
    align-items: center;

    height: 85%;
    width: 60%;
    grid-area: pack;

}

#inv{
    
    /* padding: 10%; */
    
    height: 80%;
    width: 75%;
    background-color: #2a2929;

    box-sizing: border-box;

    display: grid;
    justify-items: center;
    align-items: center;

    /* justify-content: center; */

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;
    grid-area: inv;

    
    
    text-align: center;
    border-radius: 10px;
  
}

#inv1, #inv2, #inv3, #inv4{
    box-sizing: content-box;
    height: 96%;
    width: 90%;
    /* margin: 10%; */
}

#empty{
        display: none;
        /* background-color: #ffffff; */
        height: var(--tamanhoCartaHeight);
        width: var(--tamanhoCartaWidth);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: 15px;
        position: relative;
        /* border: 1px solid #020101; */
}

.critico{
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media only screen and (max-width: 900px){
    
    /* #pack{
        display: none;
    } */

    
    main{
        width: 800px;
        height: 720px;
        display: grid;
        gap: 0.7%;

        grid-template-areas:    
                        "pack  inv"
                         "text  btn"
                         ;
         grid-template-columns: 1fr  3.5fr;
         grid-template-rows: 1fr 1fr; 
        /* align-items: center;
        justify-items: center;
        flex-direction: column;
        background-color: #121212;
        background: linear-gradient(360deg, rgb(20, 1, 26) 18%, rgb(12, 12, 12) 61%);
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 0.8fr 3fr 1fr; */
    }
    #texto{
        font-size: 50%;
        grid-area: text;
        align-self: start;
    }
    #descr{
        display: none;
        
    }
    .wrap{
        height: 20%;
        font-size: 45%;
        grid-area: inv;
        align-self: end;
        justify-self: start;
        margin-left: 5%;
    }
    #btn{
        
        justify-self: end;
        grid-area: btn;
    }
    #getseed{
        
        grid-area: btn;
        align-self: center;
    }
    #btnReset{
        grid-area: inv;
        align-self: end;
        margin-bottom: 5%;
        
    }

    #pack{

        /* justify-self: start; */
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: start;
        height: 75%;
        width: 90%;
        grid-area: pack;
    
    }

    #empty1, #empty, #empty3, #empty4{
        
        height: 100%;
        width: 100%;
        
        
    }
    .nameAndCidadeWrapper{
        /* display: none; */
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .nameAndCidadeWrapper1,.nameAndCidadeWrapper2,.nameAndCidadeWrapper3,.nameAndCidadeWrapper4{
        /* display: none; */
        width: 100%;
        height: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #nome, #nome1,#nome2,#nome3,#nome4 {
    
        font-size: 100%;
        font-weight: 500;
        
        
    }

    #variante,#variante1,#variante2,#variante3,#variante4 {

        width: 100%;
    
        text-align: center;
        font-size: 50% !important;
        font-weight: bold;
        font-family: 'Righteous';
        text-shadow: -2px 5px 5px #010101;
        
    }
    

    #cidade{
        /* background-color: #6637be; */
        /* align-self: flex-end; */
        font-size: 95%;
        
    }
    #cidade1,#cidade2,#cidade3,#cidade4{
        /* background-color: #6637be; */
        /* align-self: flex-end; */
        font-size: 80%;
        
    }

    #retrato{
        display: block;
         width: 70%;
         height: 40%; 
    
        /* width: 70px;
        height: 45px; */
    
        background-color: #4b4747;
        border-radius: 5px;
        /* background-size: 210px 124px; */
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
        border: #020101 2px solid;
    }
    #retrato1,#retrato2,#retrato3,#retrato4{
        display: block;
         width: 70%;
         height: 35%; 
    
        /* width: 70px;
        height: 45px; */
    
        background-color: #4b4747;
        border-radius: 5px;
        /* background-size: 210px 124px; */
        background-repeat: no-repeat;
        background-size: 100% 100%;
    
        border: #020101 2px solid;
    }


    #cargo{
        /* background-color: #37be49; */
        height: 10%;
        font-size: 110%;
        transform: rotate(-10deg);
        margin: 10%;
    }
    #cargo1,#cargo2,#cargo3,#cargo4{
        /* background-color: #37be49; */
        height: 10%;
        font-size: 100%;
        transform: rotate(-10deg);
        margin: 10%;
    }

    #inv{
    
        /* padding: 10%; */
        margin-top: 2%;
        height: 70%;
        width: 100%;
        align-items: start;
        align-self: start;
      
    }
    
    #inv1, #inv2, #inv3, #inv4{
        box-sizing: content-box;
        height: 100%;
        width: 100%;

        /* margin: 10%; */
    }

    #Q{
        display: block;
        grid-area: pack;
        width: 70%;
        height: 13%;
        align-self: end;
        margin-bottom: 8%;
    }
    

}


