#minigame-jhin{
    position: absolute;
    border: 3px solid #ffbd42bc;


    width: 1000px;
    height: 630px;

    background-color: rgb(72, 69, 69);
    background-image: url(/pics/minigameJhin/bg.PNG);

    background-position: cover;
    background-repeat: no-repeat;
}   

#minigame-jhin-bullet{

    position: absolute;
    
    top: 606px;
    left: 70px;

    width: 10px;
    height: 10px;
    background-color: rgb(172, 0, 0);
    border: 3px solid #ffbd42bc;

}