@media screen and (max-width: 1920px) {
  

  main {
    opacity: 1;
    width: 1600px;
    height: 1200px;

    grid-template-areas:
    "d boss ca"
    "f are ac"
    "texto inv sa"
    "dinheiro dicas da"
    "especial mao ad";

    grid-template-columns: 23% 70% 7%;
    grid-template-rows:  0.1fr 1fr 1fr 0.1fr 1fr;
    
  }

  

}
